html,
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at center,
            #150935 0%,
            #0b041e 50%,
            #0a000c 100%);
    z-index: -1;
    height: 110vh;
}

#globe {
    cursor: move;
}

#current {
    color: black;
    /* position: absolute; */
    font-family: sans-serif;
    /* margin-left: 4%;
    margin-top: 4%; */
    margin-left: 200px;
}

.globe-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* margin: 0 auto; */
    width: 100%;
    text-align: center;
    position: relative;
}

#country-line {
    min-width: 800px;
}