html,
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at center,
            #150935 0%,
            #0b041e 50%,
            #0a000c 100%);
    z-index: -1;
    /* height: 110vh; */
}

#globe {
    cursor: move;
    z-index: 10000;
}

.black {
    color: black;
}

#current {
    color: black;
    font-family: sans-serif;
    margin-left: 200px;
}

.globe-inner {
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.globe-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}

.globe-options {
    width: 100%;
}

.left {
    width: 40%;
}

.right {
    position: relative;
    right: -200px;
    /* width: 40%; */
    /* margin-left: 200px; */
    /* width: 800px; */
}

canvas, svg {
    max-width: none !important;
}

#country-line {
    width: 100%;
    /* min-width: 800px; */
    height: 100%;
    margin-left: 10px;
}

.line-per-country {
    /* margin-left: 100px; */
}