html,
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at center,
            #150935 0%,
            #0b041e 50%,
            #0a000c 100%);
    z-index: -1;
    height: 110vh;
}

#globe {
    cursor: move;
}

#current {
    color: black;
    font-family: sans-serif;
    margin-left: 200px;
}

.globe-inner {
    padding: 1rem;
}

.globe-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#country-line {
    width: 50%;
    min-width: 800px;
    height: 100%;
}