body, h1, h2, h3, h4, a {
    font-family: "Montserrat" !important;
}

#section0 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),url("../img/earth-overlay.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.import-export-caption {
    position: absolute;
    left: 50px;
    top: 30%;
    width: 30%;
}

/* #imports-exports {
    position: relative;
    top: -500;
} */